
<div class="container main-container">
    <div class="container pt-2 pb-1">
        <p class="text-center fs-3">Discover</p>
        <div class="content-container">

        </div>
    </div>
    <div class="container pt-2 pb-1">
        <p class="text-center fs-3">Popular</p>
        <div class="content-container">

        </div>
    </div>
    <div class="container pt-2 pb-1">
        <p class="text-center fs-3">Trending</p>
        <div class="content-container">

        </div>
    </div>
    <div class="container pt-2 pb-1">
        <p class="text-center fs-3">New</p>
        <div class="content-container">

        </div>
    </div>
    <div class="container pt-2 pb-1">
        <p class="text-center fs-3">Used</p>
        <div class="content-container">

        </div>
    </div>
    <div class="container pt-2 pb-1">
        <p class="text-center fs-3">Latest</p>
        <div class="content-container">

        </div>
    </div>
</div>