#body{

}



.navbar{
  color: white;
/*  background-color: #1A1A1D ;*/
  /*background-color: #a1a1a1;*/
  font-size: 20px;

  user-select: none;
  box-shadow: #dcdcdc 0 1px 3px;
  /*background-color: #eaeaea;*/
  /*background-color: rgba(234, 234, 234, 0.5);*/
  background-color: #000613;

}
.navbar-body{
width: 80%;

}

.logo-name{
  padding: 0;

}

.logo-name a{
  /*color: #444444;*/

  color: white;
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;

}

.nav-item a{
  font-weight: 200;
  color: white;
}




.dropdown-menu{
  width: 100px;
}

.nav-item a:hover{
  cursor: pointer;
  color: var(--color-accent);
  /*
  color: #c13584;
  */
}
@media (max-width: 1260px) {
/*  .navbar{
    width: 80%;
  }*/
}



@media (max-width: 600px) {
/*  .navbar{
    width: 100%;
  }*/
}