

  <nav class="navbar py-3 mx-auto navbar-expand-lg sticky-top">

    <div class="container-fluid navbar-body d-flex text-center align-items-center">
      <div class="navbar-nav ms-2 mx-3 px-3 logo-name"><a class="fs-2">Farco</a></div>
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="/">Home</a>
          </li>
<!--            <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="/">New cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="/">Used cars</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="/specs">Archives</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="/">About us</a>
            </li>

            <li class="nav-item">
                @if(authService.isAble){
                    <a aria-current="page" class="nav-link active" href="http://localhost:8080/h2-console">H2 DB</a>
                }
            </li>

        </ul>

        <ul class="navbar-nav mb-2 mb-lg-0 me-5">

          <li class="nav-item">
              @if(authService.isLoggedIn()){
                  <a aria-current="page" class="nav-link active" (click)="logout()">Logout</a>

              }@else{
                  <a aria-current="page" class="nav-link active" (click)="login()">Login</a>
              }
          </li>


        </ul>
      </div>
    </div>
  </nav>

