.container{
  width: 80%;
  /*
  background-color: #0b66b6;
  */

}

.bread-container{
  width: 80%;
}

.add{
  background-color: #78b36b;
}

.add:hover{
  background-color: #2fb312;
}

.del{
  background-color: #b36b6b;
}

.del:hover{
  background-color: #b32424;
}

.form-switch{
  user-select: none;
}


.breadcrumb, .breadcrumb-div{

  width: 90%;
  /*background-color: #C3C3C3;*/

}
.breadcrumb-div{
  box-shadow: #dcdcdc 0 1px 3px;
  /*background-color: #eaeaea;*/
  background-color: rgba(252, 252, 252, 0.5);
  /*
  background-color: #fcfcfc;
  */
}

@media (max-width: 576px) {
  .container{
    width: 100%;
  }
}

.breadcrumb-item {
  user-select: none;
  a {
    text-decoration: none;
  }
}